* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fuente_principal;
}
p {
  font-size: 16px;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
  @include telefono {
    padding: 50px 0;
  }
  @include tablet {
    padding: 0;
  }
  @include desktop {
    padding: 0;
  }
}

.container--modifier {
  width: 60%;
  @include telefono {
    width: 90%;
  }
  @include tablet {
    width: 80%;
  }
}

a {
  text-decoration: none;
  color: $blanco;
  margin: 0 $separacion / 4;
}

img {
  max-width: 100%;
}
h1,
h3 {
  color: $blanco;
}
// Cards Globales
.card {
  width: 30%;
  padding: 45px 0;
  overflow: hidden;
  background: linear-gradient(180deg, $black2 0%, $black1 100%);
  border-radius: 10px;
  position: relative;
  text-align: right;
  margin-bottom: 60px;
  box-shadow: 0 0 6px $color_shadow;
  @include telefono {
    width: 95%;
  }
  @include tablet {
    width: 100%;
    margin-bottom: 15px;
  }
  @include desktop {
    width: 80%;
    margin: 15px 10px;
  }
  img {
    width: 100%;
    object-fit: cover;
    text-align: center;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 100%;
    }
  }
}
.card__img {
  width: 95%;
  height: 28vh;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  @include telefono {
    width: 100%;
    object-fit: cover;
    text-align: center;
  }
}

.cards__text {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.card__list {
  color: $dorado2;
  font-weight: $bold;
  margin: 25px 0 12px;
  font-size: 18px;
}

.card__title {
  font-size: 40px;
  color: $blanco;
  margin-bottom: 8px;
  @include tablet {
    font-size: 35px;
  }
}

.card__copy {
  color: $gris2;
  margin-bottom: 16px;
}

.card__button {
  display: block;
  background: linear-gradient(180deg, $dorado2 0%, $dorado1 100%);
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  color: $black1;
  font-weight: $bold;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  @include tablet {
    width: 100%;
  }
  &:hover {
    color: $blanco;
  }
}

.copy__section {
  text-align: center;
  color: $black2;
  font-size: 22px;
  line-height: 32px;
  @include tablet {
    font-size: 20px;
    text-align: center;
  }
}

.copy__section--modifier {
  text-align: center;
  margin-bottom: 32px;
}

.subtitle {
  font-size: 42px;
  text-align: center;
  @include tablet {
    font-size: 35px;
    text-align: center;
  }
  .subtitle--modifier {
    text-align: center;
    margin-bottom: 16px;
  }
}

.container-404 {
  background: $black2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    color: white;
  }
  a {
    margin-top: 15px;
    padding: 10px 25px;
    background: $dorado2;
    color: $black2;
    border-radius: 5px;
    &:hover {
      background-color: $dorado1;
    }
  }
}
